@media (prefers-reduced-motion: no-preference) {
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .fadein {
    animation-name: fadein;
  }

  .header-title {
    animation-duration: 4s;
  }

  figure {
    animation-duration: 4s;
  }

  .header-quote {
    animation-duration: 3s;
  }
}
