body {
    background-color: white;
}

header {
    border-color: green;
    border-style: solid;
}

.header_text {
    border-color: red;
    border-style: solid;
    color: #B22512;
}

#title {
    border-color: black;
    border-style: solid;
}

#subtitle {
    border-color: black;
    border-style: solid;
}

figure {
    border-color: green;
    border-style: solid;
}

img {
    border-color: blue;
    border-style: solid;
}

figcaption {
}

main {
    border-color: blue;
    border-style: solid;
}

h1 {
    border-color: black;
    border-style: solid;
}
