@media (orientation: portrait) {
  @media (min-height: 800px) {

    header {
      font-size: 5.0rem;
    }

    .title {
      font-size: 1.0em;
    }

    .subtitle {
      font-size: 0.6em;
    }

    .quote{
      font-size: 0.5em;
    }

    .attribution {
      font-size: 0.8em;
    }
  }

  @media (max-height: 800px) {
    header {
      font-size: 2rem;
    }

    .title {
      font-size: 1.0em;
    }

    .subtitle {
      font-size: 0.6em;
    }

    .quote {
      font-size: 0.5em;
    }

    .attribution {
      font-size: 0.8em;
    }

    main {
      1.5rem
    }
  }
}

@media (orientation: landscape) {
  @media (min-height: 800px) {

    header {
      font-size: 4.0rem;
    }

    .title {
      font-size: 1.0em;
    }

    .subtitle {
      font-size: 0.9em;
    }

    .quote {
      font-size: 0.5em;
    }

    .attributon {
      font-size: 0.5em;
    }
  }

  @media (max-height: 800px) {
    header {
      font-size: 3.0rem;
    }

    .title {
      font-size: 1.2em;
    }

    .subtitle {
      font-size: 0.7em;
    }

    .quote {
      font-size: 0.5em;
    }

    .attributon {
      font-size: 0.5em;
    }
  }
}
