html {
    font-family: 'Gotu', sans-serif;
}

body {
    font-size: 4vw;
}

header {
}

.header_text {
}

#title {
    font-size: 2.22em;
    text-align: justify;
    line-height: 1.0;
}

#subtitle {
    font-size: 1.0em;
    display: inline-block;
    text-align: right;
    line-height: 1.0;
}

figure {
}

img {
}

figcaption {
    text-align: left;
}

main {
    font-size: 2vw;
}

main * {
    font-size: inherit;
}

main h1 span {
    font-size: 3.0vw;
}

div.section {
}
