body {
    font-size: 4vw;
}

header {
}

.header_text {
}

#title {
    font-size: 2.64em;
    text-align: justify;
    line-height: 0.7;
}

/*#title > span.spacing {

}*/

#subtitle {
    font-size: 1.0em;
    display: inline-block;
    text-align: right;
    line-height: 0.7;
}

figure {
}

img {
}

figcaption {
    text-align: left;
}

main {
}

div.section {
}
