html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
    padding: 0vw 5vw 0vw 5vw;
    border: 0.1vw solid black;
}

header {
    padding: 8vw;
    border: 0vw solid black;
}

.header_text {
    border: 0vw;
    padding: 0vw 0vw 4vw 0vw;
}

#title {
    width: auto;
    border: 0.0vw;
    margin: 0vw;
}

#subtitle {
    position: relative;
    width: 100%;
    font-size: 0.7em;
    border: 0.0vw;
    margin: 0vw;
}

figure {
    height: auto;
    width: 100%;
    margin: 0vw;
    padding: 0vw;
    border: 0.0vw;
}

img {
    width: 100%;
    border: 0vw;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

main {
    font-size: 0.7em;
    border: 0vw solid black;
}

h1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-width: 0vw;
    border-top-width: 1.1vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h1 > span {
    display: block;
    margin: 0;
    padding: 0px;
    line-height: 1.2;
}

h1 > span:last-child {
    margin-top: 1vw;
}

h1 > span:first-child {
    margin-top: 0vw;
    margin-bottom: 2vw;
}

ul {
    padding-left: 0vw;
    border-width: 0vw;
}

main > ul {
    margin-top: 0px;
}

ul > li {
    padding: 0;
    margin: 0;
    margin-bottom: 2.0vw;
    list-style-type: none;
    text-indent: 0vw;
    border-width: 0vw;
    line-height: 1.1;
}

ul > li:last-child {
    margin-bottom: 6.0vw;
}

ul > ul > li {
    list-style-type: "- ";
    margin: 0;
    margin-left: 4vw;
}

li::before {
}
