html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
    padding: 0vw 10vw 0vw 10vw;
}

header {
    padding: 8vw;
    border: 0vw;
}

.header_text {
    border: 0vw;
    padding: 0vw 0vw 4vw 0vw;
}

#title {
    width: auto;
    border: 0.01vw;
    margin: 0vw;
}

/*span#subtitle::before {
    position: relative;
    content: "\a";
    white-space: pre;
}*/

#subtitle {
    position: relative;
    width: 100%;
    font-size: 0.7em;
    border: 0.01vw;
    margin: 0vw;
}

figure {
    height: auto;
    width: 100%;
    margin: 0vw;
    padding: 0vw;
    border: 0.01vw;
}

img {
    width: 100%;
    border: 0vw;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

main {
    font-size: 0.7em;
    border: 0vw;
}
/*div.section {
    display: flex;
    align-items: left;
    flex-direction: column;
    border: 5vw solid green;
}*/
