body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw;
    padding: 0vw 10vw 0vw 10vw;
}

header {
}

div.header_vbar {
    border: 0vw;
}

div.header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 0.5vw;
}

div#title {
    font-size: 6.70em;
    font-size-adjust: 0.2;
    width: 100%;
    border: 0.5vw;
}

div#subtitle {
    font-size: 1.5em;
    width: 100%;
    padding: 0vw 2.0vw 0vw 0vw;
    border: 0vw;
}

figure {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0vw;
    border: 0vw;
}

img {
    box-sizing: border-box;
    width: 100%;
    border: 0vw;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

main {
    border: 0vw;
}
/*div.section {
    display: flex;
    align-items: left;
    flex-direction: column;
    border: 5vw solid green;
}*/
